:root{
    --blue:#0e6bd8;
    --mute:#6b7280;
    --max-width:1100px
}
*{
    box-sizing: border-box;
}
body{
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto,Arial;
    margin: 0;
    color: #111;
    background: #fff;
}
a{
    color: var(--blue);
    text-decoration: none;
    transition: 0.3s;
}
.container{
    max-width: var(--max-width);
    
    margin: 0 auto;
    padding: 1rem;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
}
.logo{
    display:flex;
    align-items: center;
    gap: .6rem;
}
.logo .mark{
    width: 44px;
    height: 44px;
    background: linear-gradient(135deg,var(--blue),#0b55b0);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-weight: 700;
}
.nav{
    display: flex;
    gap: .4rem;
    align-items: center;
}
.hero{
    padding: 1rem 0;
}
.kicker{
    color: var(--blue);
    font-weight: 700;
}
.grid{
    display: grid;
    gap: 1rem;
}
.cards{
    display: grid;
    gap: .75rem;
    grid-template-columns: repeat(2,1fr);
}
.card{
    background: var(--blue);
    transition: 0.3s;
    padding: 1rem;
    border-radius: 12px;
    border: 1px solid #eef2f6
}
.section{
    padding: 1rem 0;
    border-top: 1px solid #f1f5f9
}
.footer{
    border-top: 1px solid #f1f5f9;
    padding: 1rem ;
    background-color: var(--blue);
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items:first baseline;
    height: 150px;
}
.grid.two{
    grid-template-columns:1fr 380px
}

.small{
    color: var(--mute);
    font-size: .95rem;
}
/*.two{
    grid-template-columns: 1fr 380px;
}*/
form input,form textarea{
    width: 100%;
    padding: .6rem;
    border-radius: 8px;
    border: 1px solid #e6eef8;
    margin-top: .35rem
}
button{
    background: var(--blue);
    color: #fff;
    padding: .6rem .9rem;
    border-radius: 8px;
    border: none;
}
.image{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(coverpic3.avif);
    background-position: center;
    background-size: cover;
    position: relative;
}
.card:hover {
  transform: translateY(-2px);
  background: #0f71e1;
  transform: scale(1.03);
}
img{
    height: 250px;
    width: 200px;
    border-radius: 8px;
    transition: 0.3s;
}
.cardsfac{
    display: grid;
    gap: .75rem;
    grid-template-columns:repeat(4,1fr);
}
img:hover{
transform: translateY(-2px);
  background: #0f71e1;
  transform: scale(1.03);
}
a:hover{
    transition: 0.3s;
    transform: scale(1.03);

}

